* {
    margin: 0rem;
    box-sizing: border-box;
    background-color: rgb(193, 193, 218);
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}

nav{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 0.1rem solid;
    padding: 1rem;
}

nav > a{
    text-decoration: none;
    padding: 2rem 2rem 2rem 2rem;
    border: 0.4rem solid black;
    border-radius: 10rem;
    font-size: 3rem;
    color: rgb(255, 255, 255);
}

nav :hover{
    background-color:green;
}
*{
    box-sizing: border-box;
}
h1>span {
    color: green;
}

h1 {
    padding: 2rem;
    text-align: center;
    margin: 2rem;
}
h2{
    margin: 5rem;
}

.mar{
    text-align: center;
    margin: 5rem;   
    color: rgb(0, 0, 0);
}

@media (min-width: 1200px) {
    nav {
        font-size: 2rem;
    }

    nav a {
        padding: 25px;
        background-color: rgb(68, 6, 6);
    }
}


@media (max-width:1200px) and (min-width: 800px) {
    nav {
        font-size: 1.5rem;

    }

    nav a {
        padding: 15px;
        background-color: rgb(17, 0, 255);
    }
}


@media (max-width: 80rem) {
    nav {
        flex-direction: column;
    }

    nav>a {
        background-color: rgb(0, 46, 2);
    }
}
h2{
    text-align: center;
    margin: 2rem;
    border: 0.5rem groove gray;
    color: white;
    background-color: rgb(8, 8, 128);
}
pre{
    text-align: center;
    margin:2rem;
    border: 0.1rem solid;
    background-color: burlywood;
}

