* {
    margin: 0rem;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
h1>span {
    color: green;
}

h1 {
    padding: 2rem;
    text-align: center;
}

nav{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 0.1rem solid;
    padding: 1rem;
}

nav > a{
    text-decoration: none;
    color: rgb(252, 252, 252);
    padding: 1rem 2rem 1rem 2rem;
    border: 0.4rem solid black;
    border-radius: 10rem;
    font-size: 3rem;
}

nav :hover{
    background-color:green;
}


.re{
    text-align: center;
    margin: 8rem 70rem;
    border: solid black;
}
td{
    border: solid black;
}
.imcab {
    background-image: url(./imagenes/Natsuki.Subaru.full.2533416\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70rem;
}
section>img {
    max-width: 100%;
}
.zero{
    margin: 1rem 75rem;
    border: solid black;
}
li{
    border: solid black 0.1rem;
}
.flex{
    display: flex;
    flex-direction: column;
}
@media (min-width: 1200px) {
    nav {
        font-size: 2rem;
    }

    nav a {
        padding: 25px;
        background-color: rgb(68, 6, 6);
    }
}

.dis{
    display: flex;
    flex-direction: row;
    height: 14rem;
    width: 20rem;
}
.non{
    text-decoration: none;
}

@media (max-width:1200px) and (min-width: 800px) {
    nav {
        font-size: 1.5rem;

    }

    nav a {
        padding: 15px;
        background-color: rgb(17, 0, 255);
    }
}


@media (max-width: 80rem) {
    nav {
        flex-direction: column;
    }

    nav>a {
        background-color: rgb(0, 46, 2);
    }
}